Source: libpam-krb524
Section: debathena/libs
Priority: optional
Maintainer: Debathena Project <debathena@mit.edu>
Standards-Version: 3.9.3
Build-Depends: cdbs, debhelper, dh-buildinfo, libpam0g-dev, libkrb5-dev

Package: libpam-krb524
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, krb5-user, libpam-krb5
Conflicts: debathena-libpam-krb5 (<= 1.0-12debathena3), libpam-krb4 (<= 1.2-0debathena2)
Replaces: libpam-krb4 (<= 1.2-0debathena2)
Description: PAM module to manage krb4 tickets via krb524init
 This PAM module gets Kerberos 4 tickets with a cache name based on
 the user's Kerberos 5 tickets, and removes them on logout.
